PyQt6
opencv-python<5.0.0
requests
httpx
stomp.py
websocket-client
fastapi
uvicorn
python-multipart
psutil
pillow
mediapipe
PyQt6-WebEngine
insightface
onnxruntime
ultralytics
winsdk
cryptography
PyAudio==0.2.14
silero-vad
pynput
